.task-list-container {
    width: 100%;         
    padding: 0 20px;             
}

a {
    cursor: pointer;
}

a:hover {
    color: #005cbb;
    text-decoration: underline;
}

.create-task-button {
    display: block;
    margin: 0 auto 20px;        
    max-width: 200px;           
}
.mat-mdc-table {
    width: 100% !important;     
    margin: 0 auto;             
}

.description-cell {
    max-width: 200px;           
    white-space: nowrap;        
    overflow: hidden;           
    text-overflow: ellipsis;    
}

.description-cell:hover {
    overflow: visible;
    white-space: normal;
    background-color: #f5f5f5;
    padding: 4px;
    border-radius: 4px;
    position: relative;
    z-index: 10;
}